@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
  overflow-x: hidden;
  font-family: var(--font-inter);
}

h1, h2, h3 {
  font-family: var(--font-orbitron);
}

::selection {
  background: white;
  color: black;
}
* {
  cursor: none;
}
html {
  scroll-behavior: smooth;
}

body {
  background: black;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

body {
  background: black;
  overflow-x: hidden;
}
::selection {
  background: #22d3ee;
  color: black;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #22d3ee,
    #a855f7
  );
  border-radius: 999px;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}
html {
  scroll-behavior: smooth;
}